{% block content %}
<div x-data="{ modal_open: false }">
    <a @click="modal_open = true" class="cursor-pointer flex justify-end pt-2 pb-4 text-sm text-gray-400 hover:text-red-500">Leave Chat</a>
    <div x-show="modal_open" x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" class="fixed inset-0 z-50 flex items-center justify-center p-6">
        <div class="fixed inset-0 bg-gray-800 bg-opacity-80"></div>
        <div @click.away="modal_open = false" class="relative z-50 bg-white rounded-lg shadow-xl p-6 w-full max-w-lg">
            <h1 class="text-lg font-semibold">Leave this chat?</h1>
            <form method="POST" action="{% url 'chatroom-leave' chatroom_name %}">
                {% csrf_token %}
                <button type="submit" class="button-red mt-4">Yes, I want to leave</button>
                <a class="button button-gray ml-1 cursor-pointer" @click="modal_open = false">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
